
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  border: solid white;
  width: 65%;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

#display {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 2;
}
